:root {
    --btn-color: #334155;
    --hover-color: #eab308;
}



a,
button {
    cursor: pointer;
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
    color: #eeeeee;


    &:hover {
        color: var(--hover-color);
    }
}


body {
    /* background:
        /* radial-gradient(circle at top,
            #ffffff 0%,
            #eeeeee 45%,
            #d4d4d4 100%); */

    /* background-image: linear-gradient(to bottom, #000000, #100a0e, #17131a, #191b26, #152331); */
    font-family: sans-serif;

}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

h3 {
    font-size: 1rem;
    font-weight: 800;
}

/* Hero and Nav  */
header {
    width: 100%;
    background-image: linear-gradient(to top, #000000, #100a0e, #17131a, #191b26, #152331);
    color: #eeeeee;


    .nav-container {
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 2rem 0.5rem 2rem;

        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        gap: 2rem;

        background-color: rgba(13, 14, 18, 0.8);
        backdrop-filter: blur(10px);
        border: 1px solid #e9eaee;
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
        border-radius: 50px;

        .brand-logo {
            i {
                width: 40px;
                font-size: 20px;
                border: 2px solid white;
                border-radius: 50%;

                &:hover {
                    transition: 0.3s ease-out;
                    color: var(--hover-color);
                    border-color: var(--hover-color);
                }
            }
        }
    }

    .nav-link {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        list-style: none;
    }

    .nav-action {
        .modebtn {
            padding-right: 1rem;
        }

        a {
            background-color: var(--btn-color);
            border-radius: 1rem;
            padding: 0.5rem;
            color: #ffffff;

            &:hover {
                background-color: var(--hover-color);
            }
        }
    }

}

.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 30px 12% 0;
    gap: 7rem;


    .about-me {
        max-width: 60%;
        display: flex;
        flex-direction: column;

        h3 {
            padding-bottom: 0.5rem;
        }

        p {
            padding-bottom: 2rem;
        }

        .hero-btn {
            display: flex;
            gap: 3rem;


            button {
                background-color: var(--btn-color);
                border-radius: 1rem;
                padding: 0.5rem;
                color: #ffffff;

                &:hover {
                    background-color: var(--hover-color);
                }
            }
        }

    }

    /* ပြန်ပြင်ရန် */
    .profile {
        width: 40%;
        /* border-radius: 30% 70% 78% 22% / 30% 32% 68% 70%; */
        border-radius: 3rem;
        overflow: hidden;


        img {
            object-fit: cover;

        }
    }
}

/* Hero and Nav  */

/* shape-divider  */
.custom-shape-divider-bottom-1782828838 {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background: linear-gradient(to top, #000000, #152331);

}

.custom-shape-divider-bottom-1782828838 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 226px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1782828838 .shape-fill {
    fill: #adb5cd;
}

/* shape-divider  */

/* feature section */
.services {
    width: 100%;
    background-color: #adb5cd;
    padding-bottom: 4rem;
    /* background: linear-gradient(to right, #000000, #152331); */

    h2 {
        text-align: center;
        padding: 3rem;
    }

    .feature-box {
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
            justify-content: center;
            align-items: center;


            .card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                background: rgba(217, 217, 217, 0.58);
                border: 1px solid white;
                box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
                backdrop-filter: blur(6px);
                border-radius: 17px;
                transition: all 0.5s;
                padding: 2rem;

                user-select: none;
                font-weight: bolder;
                color: black;
            }

            .card:hover {
                border: 1px solid black;
                transform: scale(1.05) rotateZ(1.7deg);

            }

            .s-logo {
                width: 5rem;
            }

            img {
                width: 100%;
                object-fit: cover;
            }

            h3 {
                padding-bottom: 1rem;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    font-weight: 550;
                }
            }
        }
    }
}

/* feature section */

/* Portfolio */
.portfolio {
    width: 100%;
    background: linear-gradient(to top, #000000, #152331);
    color: #ffffff;
    padding-bottom: 6rem;

    h2 {
        text-align: center;
        padding: 2rem;
    }

    .port-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .port-card {
            display: flex;
            flex-direction: column;


            p {
                padding: 2rem;
            }

            .branch-container {
                display: flex;
                justify-content: center;

                .port-branch {
                    width: 400px;
                    height: 300px;
                    /* background: linear-gradient(to top, #000000, #152331); */
                    display: flex;
                    gap: 5px;
                    padding: 0.4rem;

                    a {
                        height: 100%;
                        flex: 1;
                        overflow: hidden;
                        cursor: pointer;
                        border-radius: 2px;
                        transition: all 0.5s;
                        background: #212121;
                        border: 1px solid var(--hover-color);
                        border-radius: 2rem;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            flex: 4;

                        }
                    }

                    button {
                        min-width: 14rem;
                        padding: 0.5rem;
                        text-align: center;
                        transform: rotate(-50deg);
                        transition: all 0.5s;
                        text-transform: uppercase;
                        color: var(--hover-color);
                        letter-spacing: 0.1rem;

                        &:hover {
                            transform: rotate(0deg);
                        }
                    }
                }
            }
        }
    }

    .attribute {

        .skill-container {
            position: relative;
            max-width: 500px;
            width: 100%;
            background: #e0e1e4;
            margin: 0 15px;
            padding: 10px 20px;
            border-radius: 7px;

            .skill-box {
                width: 100%;
                margin: 25px 0;
            }

            .title {
                display: block;
                font-size: 14px;
                font-weight: 600;
                color: #333;
            }

            .skill-bar {
                height: 8px;
                width: 100%;
                border-radius: 6px;
                margin-top: 6px;
                background: rgba(0, 0, 0, 0.1);
            }

            .skill-per {
                position: relative;
                display: block;
                height: 100%;
                width: 90%;
                border-radius: 6px;
                background: var(--hover-color);
                animation: progress 0.4s ease-in-out forwards;
                opacity: 0;
            }

            .html {
                width: 80%;
                animation-delay: 0.1s;
            }

            .css {
                width: 70%;
                animation-delay: 0.1s;
            }

            .javascript {
                width: 50%;
                animation-delay: 0.2s;
            }

            .nodejs {
                width: 30%;
                animation-delay: 0.3s;
            }

            .MySQL {
                width: 50%;
                animation-delay: 0.3s;
            }

            .PHP {
                width: 20%;
                animation-delay: 0.3s;
            }

            .React {
                width: 20%;
                animation-delay: 0.3s;
            }


            .tooltip {
                position: absolute;
                right: -14px;
                top: -28px;
                font-size: 9px;
                font-weight: 500;
                color: #dfd5d5;
                padding: 2px 6px;
                border-radius: 3px;
                background: var(--btn-color);
                z-index: 1;
            }
        }
    }
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

/* about me*/
footer {
    background-image: linear-gradient(to bottom, #000000, #100a0e, #17131a, #191b26, #152331);
    color: #eeeeee;

    .personal {
        width: 100%;
        padding: 5rem;

        .about-me {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            .photo-container {
                border: 2px solid white;
                border-radius: 0.5rem;
                border: 2px solid var(--hover-color);
                overflow: hidden;

                .my-photo {
                    object-fit: contain;
                }
            }

            .detail {
                h2 {
                    font-size: 2rem;
                    font-weight: 800;
                }

                p {
                    line-height: 1.5;
                    padding-bottom: 1rem;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 0.7rem;


                    .info-tag {
                        display: flex;
                        gap: 0.5rem;

                        i {
                            padding-top: 0.2rem;
                        }

                        h3 {}
                    }
                }
            }
        }
    }

    .contant-box {
        display: flex;
        flex-direction: column;
        width: 70rem;
        margin: 0 auto;

        .contact {
            width: 100%;
            display: flex;

            .follow {
                padding-right: 3rem;
            }

            .mail-box {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                form {
                    .input-box {
                        display: flex;
                        gap: 2rem;

                        input {
                            border-bottom: #e9eaee 1px solid;

                            &:hover {
                                color: var(--hover-color);
                            }
                        }
                    }

                    .mail-sumit {
                        padding: 2rem 0 4rem;

                        button {
                            background-color: var(--btn-color);
                            border-radius: 1rem;
                            padding: 0.5rem;
                            color: #ffffff;

                            &:hover {
                                background-color: var(--hover-color);
                            }
                        }
                    }

                }
            }
        }
    }
}

.boots {
    width: 100%;
    height: 10rem;
    background: #adb5cd;
}